@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	font-family: 'Lato', sans-serif;
	font-size:1.2rem;
	line-height:1.2;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-size: 3em;
	color:$primary;
}

a {
	color:$link;
	text-decoration:none;
	&:hover {
		color:lighten($link,10%);
		text-decoration: underline;
	}
}

code, .monospace {
	font-family: 'Source Code Pro', monospace;
}